/*Glodbal Styles*/

body {
    background-color: #EBEBF3;
    justify-content: center;
    align-items: center;
}

main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 400px;
    width: 300px;
    margin-top: 120px;
    border-radius: 15px;

}
.card-header{
    height: 180px;
    background-color:#002B5B;
}
.card-body{
    color: black;
}

button{
    margin-top: 65px;
    margin-left: 80px;
}
p{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}

.info{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
   
}
.info:hover{
    cursor: pointer;
    text-decoration: underline;
    color: grey;
  
}